/blooms_classification_finetuning.csv
/microbench.csv
/microchat.csv
/nbme_blooms.csv
/o1-mini_CoTRAG_SelfAssessRevisedInput_output_processed.csv
/other_blooms.csv
/o1-mini_CoTRAG_SelfAssessRevisedInput_outputv2.csv
/microchat_v2.csv
/microchat_v2_full_1070.csv
/blooms_classification_finetuning_v2.csv
/VQA_3_bot_refined-nov5_dspy_full__eval_seed0.csv
/VQA_3_bot_refined-nov5_dspy_full__eval_seed0_use-case-1_figure.csv
/VQA_3_bot_refined-nov5_dspy_full__eval_seed0_use-case-2_figure.csv
/VQA_3_bot_refined-nov5_dspy_full__eval_seed0_use-case-3_figure.csv
/VQA_4_for_annotators.xlsx
/eval_anthropicclaude-35-sonnet_naive.xlsx
/benchmark_nov11.csv
/llm-qc_eval_naive.csv
/20250206_questions.csv
/20250206_questions.csv
/20250206_questions.csv
/20250206_o1-mini_CoTRAG_SelfAssessRevisedInput_output.csv
/20250206_questions.csv
/20250206_o1-mini_CoTRAG_SelfAssessRevisedInput_output.csv
/osu_questions.csv
/osu_questions.csv
/jhu_questions.csv
/path_questions.csv
/ap_2020-2023_questions.csv
/blooms_classification_finetuning_v3.xlsx
/cp_2020-2023_questions.csv
/jmhb_microvqa_train.csv
/jmhb_microvqa_train_w-metadata.csv
